body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(248 249 250);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    color: rgb(255, 0, 0);
    font-family: Bebas Neue;
    font-size: 30px;
}

#baby-log{
  font-family: Arial;
  font-size: 15px;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding-left: 10px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-left: 20px;
    text-shadow: 2px 2px 2px black;
}

.menu li a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 2px black;
}

.burger-menu {
    display: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.navbar {
    background-color: rgb(248 249 250);
    position: fixed;
    width: 100%;
    top: 10;
    left: 0;
    z-index: 1000;
}

.content {
    margin-top: 270px; /* Adjust according to the navbar height */
}


#carouselExampleFade{
    height: 500px;
}

#titt{
margin-top: 0px;
}

.carousel-control-prev, .carousel-control-next{
  margin-bottom: -40%;
}
.card-title{
  font-family: Bebas Neue;
  font-size: 25px;
}
.img-fluid rounded-start{
 max-width: 200%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div#comparison { 
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
    overflow: hidden; 
  }

  div#comparison figure { 
    background-image: url('foto/Ap11.JPG'); 
    background-size: cover;
    position: relative;
    font-size: 0;
    width: 100%; 
    height: 100%;
    margin: auto; 
  }
  div#comparison figure > img { 
    position: relative;
    width: 100%;
    height: 100%;
  }
  div#comparison figure div { 
    background-image: url('foto/Ap12.JPG');
    background-size: cover;
    position: absolute;
    width: 50%; 
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
    overflow: hidden;
    bottom: 0;
    height: 100%;
  }
  
  input[type=range]{
    -webkit-appearance:none;
    -moz-appearance:none;
    position: relative;
    top: -2rem; left: -2%;
    background-color: rgba(255,255,255,0.1);
    width: 102%; 
  }
  input[type=range]:focus { 
    outline: none; 
  }
  input[type=range]:active { 
    outline: none;  
  }
  
  input[type=range]::-moz-range-track { 
    -moz-appearance:none;
      height:15px;
      width: 98%;
      background-color: rgba(255,255,255,0.1); 
      position: relative;
      outline: none;    
   }
  input[type=range]::active { 
    border: none; 
    outline: none;
  }
  input[type=range]::-webkit-slider-thumb {
      -webkit-appearance:none;
      width: 20px; height: 15px;   
      background: #fff;
      border-radius: 0;
     }
  input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    width: 20px;
    height: 15px;
    background: #fff;
    border-radius: 0;
       }   
  input[type=range]:focus::-webkit-slider-thumb {
      background: rgba(255,255,255,0.5);
     }
  input[type=range]:focus::-moz-range-thumb {
      background: rgba(255,255,255,0.5);
     }
  
#chis{
  max-width: 90%;
}
#picpr{
  max-width: 70%;
}


@media only screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .menu.active {
        display: block;
    }
    #progetti{
      margin-top: 20px;
    }
    #carouselExampleFade{
      max-height: 400px;
    }
    .img-fluid rounded-start{
      margin: 10px 0 10px 0;
    }
    #imst{
      margin-left: 25%;
    }
    #chis{
      text-align: center;
      margin-left: 90px;
    }
    #bigfot{
      display:block;
    }
    #icon{
      margin-bottom: 150px;
    }
    #medfot{
      margin-top:-100px;
      margin-bottom: 150px;
    }
}
